<%= link_to "Skydivers", "/skydivers" %>
<%= link_to "Dropzones", "/dropzones" %>
<br>
<h3>Skydivers</h3>
<%@skydivers.each do |skydiver| %>
<%= skydiver.first_name%>
 <%= skydiver.last_name%>
  ID:<%= skydiver.id %>
  Wingsuit:<%= skydiver.wingsuit %>
  Jumps:<%= skydiver.jumps %>
  Created At: <%= skydiver.created_at %>
  Updated At: <%= skydiver.updated_at %>
  Dropzone ID: <%= skydiver.dropzone_id %> <%= link_to "Edit Skydiver", "/skydivers/#{skydiver.id}/edit" %>  <%= link_to "Delete Skydiver", "/skydivers/#{skydiver.id}", method: :delete%>
 <p></p>
<% end %>
