<%= link_to "skydivers", "/skydivers" %>
<%= link_to "dropzones", "/dropzones" %>
<%= link_to "New Dropzone", "/dropzones/new" %>
<br>

<h1>Dropzones</h1>
<% @dropzones.each do |dropzone| %>
  <p><%= dropzone.name %> <%= dropzone.id %>  <%= link_to "Edit #{dropzone.name}", "/dropzones/#{dropzone.id}/edit"%>  <%= link_to "Delete #{dropzone.name}", "/dropzones/#{dropzone.id}", method: :delete   %></p>  
<% end %>
