<%= link_to "skydivers", "/skydivers" %>
<%= link_to "dropzones", "/dropzones" %>
<%= link_to "New Skydiver", "/dropzones/#{params[:id]}/skydivers/new" %>
<br>
<%@skydivers.each do |skydiver| %>
<%= link_to skydiver.first_name, "/skydivers/#{skydiver.id}" %>
 <%= skydiver.last_name%>
  ID:<%= skydiver.id %>
  Wingsuit:<%= skydiver.wingsuit %>
  Jumps:<%= skydiver.jumps %>
  Created At: <%= skydiver.created_at %>
  Updated At: <%= skydiver.updated_at %>
  Dropzone ID: <%= skydiver.dropzone_id %>
 <p></p>
<% end %>
